<mat-card *ngIf="(order&&products&&user); else loading">
  <mat-card-header>
    <h2>Order details</h2></mat-card-header>
  <mat-card-content>
  <mat-divider></mat-divider>
  <mat-list role="list">
    <mat-list-item *ngFor="let product of products; let i = index" role="listitem">
      {{i}} {{product.name}}, {{getBasketElement(product).amount}} pieces, subprice: ${{getBasketElement(product).price}}
    </mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>
  <p style="margin-top: 20px;">Created at: {{order.createdAt | date}}</p>
  <p>Bought by user: {{user}}</p>
  <h4>Address:</h4>
  <p>{{order.street}}, {{order.buildingNumber}}{{getApartmentNumber()}}</p>
  <p>{{order.city}}, {{order.country}}</p>
  <mat-divider></mat-divider>
  <p style="margin-top: 20px;"><b>Current state: </b>{{order.orderState}}</p>
  <p><b>Total price: </b>${{getTotalPrice()}}</p>
</mat-card-content>
</mat-card>
<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
