.nav-bar {
  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    &__cart-button {
      margin-right: 1.5rem !important;
    }
    * {
      padding: 0;
      margin: 0;
    }
    &__logged {
      display: flex;
      gap: 1.5rem;
    }
  }
}
