<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <div>
      <p *ngIf="userName">Welcome {{ userName }}!</p>
      <a *ngIf="!userName" routerLink="host" class="nav-link">Login!</a>
    </div>
  </div>
</nav> -->
<mat-toolbar>
  <button
    mat-icon-button
    (click)="toggleMenu()"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <div class="nav-bar__content">
    <p>Web shop!</p>
    <div>
      <div *ngIf="userName" class="nav-bar__content__logged">
        <p>Welcome {{ userName }}!</p>
        <button mat-raised-button (click)="onLogoutClick()">Logout</button>
      </div>
      <button mat-raised-button *ngIf="!userName" (click)="onLoginClick()">
        Login
      </button>
    </div>
  </div>
</mat-toolbar>
