<mat-toolbar>
  <button
    mat-icon-button
    (click)="toggleMenu()"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <div class="nav-bar__content">
    <p>Web shop!</p>

    <button
      class="nav-bar__cart-button"
      (click)="onCartButtonClick()"
      mat-raised-button
      [matBadge]="itemsAmount"
    >
      Cart
    </button>
    <div>
      <div *ngIf="userName" class="nav-bar__content__logged">
        <p>Welcome {{ userName }}!</p>
        <button mat-raised-button (click)="onLogoutClick()">Logout</button>
      </div>
      <button mat-raised-button *ngIf="!userName" (click)="onLoginClick()">
        Login
      </button>
    </div>
  </div>
</mat-toolbar>
