
.card-img-top {
  height: 300px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.card-img-top-container {
  width: 100%;
  aspect-ratio: 1 / 1 ;
  overflow: hidden;
}
.card {
  color: black;
  &__button-container {
    padding: 1rem 0.5rem 0 0.5rem;
    display: flex;
    justify-content: space-between;
    color: white;
  }
}
