<!-- <form
  *ngIf="!isLoggedIn"
  [formGroup]="formGroup"
  class="login-form__container"
  (submit)="onFormSubmit()"
>
  <input type="text" formControlName="username" />
  <input type="password" formControlName="password" />
  <button [disabled]="!formGroup.valid">Submit</button>
</form>
<button [disabled]="!isLoggedIn" (click)="refreshToken()">Refresh Token</button>
<button [disabled]="!isLoggedIn" (click)="logout()">Logout</button>
<button (click)="getUsers()">Get users</button> -->

<mat-card>
  <mat-card-content>
    <form [formGroup]="formGroup" (submit)="onFormSubmit()">
      <h2>Log In</h2>
      <mat-error *ngIf="loginFailed"> {{ loginFailed }} </mat-error>
      <mat-form-field>
        <input
          matInput
          placeholder="Username"
          formControlName="username"
          name="username"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
          name="password"
        />
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!formGroup.valid">
        Login
      </button>
    </form>
  </mat-card-content>
</mat-card>
