<div class="cart-page">
  <h3>Your cart</h3>
  <div *ngIf="cartItems">
    <div class="cart-page__container">
      <ng-container *ngIf="cartItems.length > 0; else empty">
      <app-cart-item
        *ngFor="let item of cartItems"
        [cartElementId]="item.product.id"
      ></app-cart-item>
    </ng-container>
    </div>
    <p *ngIf="cartItems.length > 0" class="cart-page__total">Total amount: ${{ totalAmount }}</p>
    <button mat-raised-button [disabled]="cartItems.length === 0" (click) ="order()">Order</button>
    <ng-template #empty>
      <p>Cart is empty :(</p>
    </ng-template>
  </div>
</div>
