.cart-element {
  padding: 0;
  display: flex;
  flex-direction: row;
  height: 150px;
  max-width: 800px;
  gap: 2rem;
  align-items: center;
  &__name {
    h3,
    h4 {
      padding: 0;
      margin: 0;
    }
  }
  &__img-wrapper {
    height: 100%;
    aspect-ratio: 1 / 1;
    &__img {
      height: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
  }
  &__quantity {
    margin-left: auto;
  }
  &__subprice-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    &__buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__subprice {
    justify-self: flex-end;
    margin-left: auto;
    margin-right: 1rem;
    p {
      margin: 0;
      padding: 0;
    }
  }
}
