<div *ngIf="product" class="product-details__container">
  <app-product-card [details]="true" [product]="product"></app-product-card>
  <div *ngIf="isAdmin" class="product-details__actions">
  <button mat-raised-button (click)="openAddImageDialog()">Upload image</button>
  <button mat-raised-button (click)="edit()">Edit</button>
  <button mat-raised-button (click)="openAddCategoriesDialog()">Add to categories</button>
  <button mat-raised-button (click)="openEditTagsDialog()">Edit tags</button>
</div>
</div>


